@import play.api.libs.json._
@import play.api.mvc._
@import play.api.mvc.Results._
@import models._

@(objects: List[(String,String, Int)], alerts : List[Alert])
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>

  @main(objects, alerts) {
  <body>
    <p>
      Select the connected object that you want to see :
    </p>
      
    <ul>
          @for(obj <- objects) {
            <li><a href=@routes.MyController.getObjInfo(obj._2)>@obj._1</a></li>
          }
      <p></p>
    </ul>

    <a type="button" href="/" class="btn btn-outline-primary">-- Return to home --</a>
  </body>
  }
</html>
