@import play.api.libs.json._
@(ip : String, state : JsValue)
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play REST API</title>
  </head>

  <body>
    <h1>Play REST API</h1>

    <p>
      This is a placeholder page to show you the REST API.
    </p>

    <ul>
      <li><a href=@(ip + "/state")>/State</a></li>
      <li><a href=@(ip + "/weather")>/Weather</a></li>
      <li><a href=@(ip + "/quality")>/Quality</a></li>
    </ul>

     <table border=1>
        <thead>
            <tr>
                <th>objectID</th>
                <th>chargeperc</th>
                <th>temperature</th>
                <th>place</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((state.head \ "objectID").asOpt[Int])</td>
                <td>@((state.head\ "chargeperc").asOpt[Float])</td>
                <td>21</td>
                <td>Sandleford => Lat : @((state.head \ "place" \ "location" \ "lat").asOpt[Float]) |
                                  Long : @((state.head \ "place" \ "location" \ "long").asOpt[Float])</td>
            </tr>
        </tbody>
    </table>

    <ul>
      <li><a href="/board">/return to /board</a></li>
    </ul>
  </body>
</html>
