@(ip : String)
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play REST API</title>
  </head>

  <body>
    <h1>Play REST API</h1>

    <p>
      This is a placeholder page to show you the REST API.
    </p>

    <ul>
      <li><a href=@(ip + "/v1/posts/state")>/v1/posts/State</a></li>
      <li><a href=@(ip + "/v1/posts/weather")>/v1/posts/Weather</a></li>
      <li><a href=@(ip + "/v1/posts/quality")>/v1/posts/Quality</a></li>
      <li><a href="/v1/posts/board">/return to v1/posts/board</a></li>
    </ul>
  </body>
</html>
