@import play.api.libs.json._
@(ip : String, weather : JsValue, state : JsValue, quality : JsValue)
<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@("Sensor " + (state.head\ "objectID").asOpt[Int].get)</title>
  </head>

  @main() {

    @if((state.head\ "chargeperc").asOpt[Float].get < 40) {
        <div class="alert alert-danger" role="alert">
          This object is low battery (under 40%), <a href="#" class="alert-link">check it !</a>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    }
    @if((quality.head\ "mature").asOpt[Boolean].get) {
        <div class="alert alert-success" role="alert">
          This verger is mature, <a href="#" class="alert-link">check it !</a>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    }

  <body>

    <!--
    <ul>
      <li><a href=@(ip + "/state")>/State</a></li>
      <li><a href=@(ip + "/weather")>/Weather</a></li>
      <li><a href=@(ip + "/quality")>/Quality</a></li>
    </ul> -->

     <ul style="list-style:none">
     <li>
     <p class="text-primary"><strong>State of sensor :</strong></p>
     <div class="col-md-8">
     <table class="table table-bordered">
        <thead class="thead">
            <tr class="table-primary">
                <th>objectID</th>
                <th>chargeperc</th>
                <th>temperature</th>
                <th>place</th>
                <th>location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((state.head \ "objectID").asOpt[Int])</td>
                <td>@((state.head\ "chargeperc").asOpt[Float])</td>
                <td>@((state.head\ "temperature").asOpt[Float])</td>
                <td>Sandleford</td>
                <td><strong>Lat :</strong> @((state.head \ "place" \ "location" \ "lat").asOpt[Float]) |
                        <strong>Long :</strong> @((state.head \ "place" \ "location" \ "long").asOpt[Float])
                </td>
            </tr>
        </tbody>
    </table>
    </div><li>

    <li> 
    <p class="text-success"><strong>Weather :</strong></p>
    <div class="col-md-6">
    <table class="table table-bordered">
        <thead  class="thead">
            <tr class="table-success">
                <th>objectID</th>
                <th>sunshine</th>
                <th>temperature</th>
                <th>humidity</th>
                <th>wind</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((weather.head \ "objectID").asOpt[Int])</td>
                <td>@((weather.head \ "sunshine").asOpt[Boolean])</td>
                <td>@((weather.head \ "temperature").asOpt[Float])</td>
                <td>@((weather.head \ "humidity").asOpt[Float])</td>
                <td>@((weather.head \ "wind").asOpt[Float])</td>
            </tr>
        </tbody>
    </table>
    <div></li>

    <li>
    <p class="text-danger"><strong>Quality of fruit :</strong></p>
    <div class="col-md-6">
    <table class="table table-bordered">
        <thead  class="thead">
            <tr class="table-danger">
                <th>objectID</th>
                <th>mature</th>
                <th>sickness</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((quality.head \ "objectID").asOpt[Int])</td>
                <td>@((quality.head \ "mature").asOpt[Boolean])</td>
                <td>@((quality.head \ "sickness").asOpt[Boolean])</td>
            </tr>
        </tbody>
      </table>
    </div></li>
    </ul>

      
    <p></p>
    <ul>
      <a type="button" href="/board" class="btn btn-outline-primary">-- Return to board --</a>
    </ul>
  </body>
  }

</html>
