@import play.api.libs.json._
@(objects: List[(String, String, Int)], alerts : List[Alert], states : List[State])
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather Table</title>
  </head>

  @main(objects, alerts) {
      <div class="container-fluid">
              <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

              <!-- DataTales Example -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Table des sondes</h6>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>ObjectID</th>
                                  <th>Charge percent</th>
                                  <th>Temperatue</th>
                                  <th>Placename</th>
                                  <th>Latitude</th>
                                  <th>Longitude</th>
                                  <th>TimeStamp</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>Id</th>
                                <th>ObjectID</th>
                                <th>Charge percent</th>
                                <th>Temperatue</th>
                                <th>Placename</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>TimeStamp</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              @for(state <- states) {
                              <tr>
                                  <td>@state.id</td>
                                  <td>@state.objectID</td>
                                  <td>@state.chargeperc</td>
                                  <td>@state.temperature</td>
                                  <td>@state.placename</td>
                                  <td>@state.lat</td>
                                  <td>@state.long</td>
                                  <td>@state.timeStamp</td>
                              </tr>
                              }
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

      </div>
  }

</html>
